.main_content_container {
  margin-top: 100px;
  margin-bottom: 60px;
  max-width: 1920px;
}

.impressum_data_protection_container {
  padding: 30px;
  background-color: white;
}

.nav_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.footer_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.footer_links {
  display: flex;
  flex-direction: column;
}

.canvas_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 720px;
  height: 480px;
  margin: 0 auto;
}

#overlay-1 {
  background-image: url("assets/imgs/9_intro_outro_screens/start/startscreen_1.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0);
  z-index: 12;
}

#overlay-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 11;
}

.buttons-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  gap: 40px;
  opacity: 0.5;
}

.buttons-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 48px;
  gap: 40px;
  opacity: 0.5;
}
