h1 {
  text-align: center;
}

.nav_content p {
  color: white;
}

.footer_content p,
.footer_content a {
  color: white;
}

.impressum_data_protection_container h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.impressum_data_protection_container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

#overlay-buttons button {
  width: 55px;
  height: 55px;
  background: transparent;
  border: none;
}

#overlay-buttons img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

#overlay-buttons img:hover {
  transform: scale(1.1);
}

#button-left,
#button-throw {
  margin-bottom: 50px;
}
